:root {
  /* fonts */
  --font-size-default: 20px;
  --font-size-big: 24px;
  --font-size-huge: 36px;

  /* colors */
  --white: #fff;
  --dark-gray: #282c34;
  --light-gray: #d3d3d3;
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: var(--font-size-default);
}
#app {
  height: 100%;
  width: 100%;
}
